!!! 5
%head
  %title Portal 2 Countdown
  %script{:type=>'text/javascript', :src=>'jquery.min.js'}
  %script{:type=>'text/javascript', :src=>'highcharts.js'}
  %style{:type=>'text/css'}
    :sass
      body
        font-family: 'Helvetica Neue', Helvetica, sans-serif
        font-size: 18px
        text-shadow: 0 1px 0 #fff
        text-align: center
        color: #666
        background: url('bkgd-shadow.png') 0 0 repeat-x #E0E0D8
      #wrapper
        width: 600px
        height: 200px
        -moz-border-radius: 30px
        border-radius: 30px
        -webkit-box-shadow: 0px 0px 5px black
        -moz-box-shadow: 0px 0px 5px black
        box-shadow: 0px 0px 5px black
        margin: 60px auto
        padding-top: 8px
      footer
        text-align: left
        position: absolute
        bottom: 0px
        font-size: 80%
      #graph
        width: 800px
        height: 400px
        margin: auto auto
        margin-bottom: 20px
        
        
%body
  #wrapper
    =yield
  #graph
    %h5 (graph coming soon)
  %footer
    %h5 
      Site by:
      %a{:href=>"http://twitter.com/ekoslow"} @ekoslow
      %br 
      View the source on 
      %a{:href=>"https://github.com/ekosz/Portal-2-Release-Predictor"} GitHub
  :javascript
    var chart = new Highcharts.Chart({
      
      chart: { renderTo: 'graph', borderRadius: 30, shadow: true},
      title: { text: 'Graph of Data' },
      tooltip: {
        formatter: function() {
          var time = new Date(this.x)
          return time.getDate()+'th at '+time.getHours()+':'+time.getMinutes()+',<br /><b>'+this.y+'%</b> compleated'
        }
      },
      plotOptions: { line: { dashStyle: 'LongDash' } },
      xAxis: { type: 'datetime' },
      yAxis: { max: 100, title: {text:'Percent Compleate'}},
      series: [
        {
          data: #{@scatter_data},
          type: 'scatter',
          name: 'Historical Data'
        },
        {
          data: #{@line_data},
          name: 'Line of Best Fit'
        }
      ]
    });
